<body>
    <div class="row">
        <div class="col-12" style="padding-top: 10vh;">
            <img alt="computer chip" *ngIf="!showImage" src="../../assets/comp-chip.png">
            <img id="imageBeingUsed" [hidden]="!showImage">
            <p class="reg-text inner-text text-center">Let a computer guess what the image is!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form [formGroup]="chooseFromFileForm" (ngSubmit)="onAnalyzeSubmit(chooseFromFileForm.value)">
                <div>
                    <label style="padding-right: 7px;">Image url:</label>
                    <input class="input" id="urlPath" type="text" formControlName="url">
                </div>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-purple" style="width: 200px; margin-bottom: 5vh;"
                        type="submit">Analyze!</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let tag of tagsArr" class="col-12 d-flex justify-content-center">
            <div id="tag.name" [ngClass]="getTagColor(tag.confidence)">
                <p>{{tag.name}}</p>&nbsp;
                <p>Confidence: {{tag.confidence}}</p>
            </div>      
        </div>
    </div>    
</body>