<div class="row">
    <div class="col-12" style="padding-top: 10vh;">
        <img alt="computer chip" src="../../assets/comp-chip.png">
        <p class="reg-text inner-text text-center">Let a computer guess what the image is!</p>
    </div>
</div>
<div class="btn-toolbar justify-content-center button-group" role="toolbar" aria-label="buttons">
    <button type="button" class="btn btn-outline-purple" style="margin-right: 25px;">Choose photo from files</button>
    <button type="button" class="btn btn-purple">Use image url</button>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <form>
            <input type="file" class="form-control-file">
        </form>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-purple" style="width: 200px; margin-bottom: 5vh;">Analyze!</button>
    </div>
</div>