$background-color: #F6F6FF;
$footer-color: #4926FB;
$bottom-nav-color: #807FFD;
$border-color: #C2C1FF;

body {
    background-color: $background-color;
    padding-bottom: 130px; //height of bottom navbar
}

.nav-pos {
    margin-bottom: 40px; 
    height: 90px;
}

.dark-background {
    background-color: $footer-color;
}

.mid-background {
    background-color: $bottom-nav-color;
}

.reg-text {
    color: $footer-color;
}

.bright-text {
    color: $background-color;
}

.bright-nav-text {
    color: $background-color;
    font-weight: bold;
}